Repository violet-ts/violet, pull requests merged in 2021-12, with the labels that each got.

#145 ci: pin node version for pnpm caching
  .github/workflows/hadolint.yml
  .github/workflows/nodejs.yml
Labels: rule, diff/XS, update/ci

#147 chore(dev): create seed for lighthouse
  pkg/api/prisma/scripts/seed/lighthouse-data/basic.ts
  pkg/api/prisma/scripts/seed/lighthouse-data/stream.ts
  pkg/api/prisma/scripts/seed/lighthouse.ts
Labels: prisma, diff/S, pkg/api, add/TODO

#140 ワークページング
  docker-compose.yml
  pkg/api/src/service/browser.ts
  pkg/api/src/service/s3.ts
  pkg/lambda/conv2img/src/convertObject.ts
  pkg/lambda/conv2img/src/entries/index/main.ts
  pkg/web/src/components/atoms/AddButton.tsx
  pkg/web/src/components/atoms/Chevron.tsx
  pkg/web/src/pages/browser/[[...paths]]/components/EmptyWork/index.tsx
  pkg/web/src/pages/browser/[[...paths]]/components/MainColumn.tsx
  pkg/web/src/pages/browser/[[...paths]]/components/PaginationBar.tsx
  pkg/web/src/pages/browser/[[...paths]]/components/Parts/AlertModal.tsx
  pkg/web/src/pages/browser/[[...paths]]/components/Revision/AddButton.tsx
  pkg/web/src/pages/browser/[[...paths]]/components/Revision/index.tsx
  pkg/web/src/pages/browser/[[...paths]]/components/StreamBar/MessageCell.tsx
  pkg/web/src/pages/browser/[[...paths]]/components/StreamBar/ReplyMessageCell.tsx
  pkg/web/src/pages/browser/[[...paths]]/components/StreamBar/index.tsx
  pkg/web/src/types/tools.ts
Labels: diff/L, pkg/web, pkg/api, pkg/lambda/conv2img, feat

#149 webpとjpg/pngを使い分けてファイル表示
  pkg/lambda/conv2img/src/convertObject.ts
  pkg/lib/constants/file.ts
  pkg/web/src/pages/browser/[[...paths]]/components/Revision/index.tsx
Labels: pkg/web, diff/S, pkg/lambda/conv2img, feat, pkg/lib

#151 PaginationバーでGridスクロール
  pkg/web/src/pages/browser/[[...paths]]/components/MainColumn.tsx
  pkg/web/src/pages/browser/[[...paths]]/components/PaginationBar.tsx
  pkg/web/src/pages/browser/[[...paths]]/components/StreamBar/index.tsx
  pkg/web/src/pages/browser/[[...paths]]/index.page.tsx
Labels: pkg/web, diff/S, feat

#155 Pagination Bar を右側に移動・コメント追加時の自動スクロール修正
  pkg/web/src/pages/browser/[[...paths]]/components/MainColumn.tsx
  pkg/web/src/pages/browser/[[...paths]]/components/Revision/index.tsx
  pkg/web/src/pages/browser/[[...paths]]/components/StreamBar/ReplyInputForm.tsx
  pkg/web/src/pages/browser/[[...paths]]/components/StreamBar/index.tsx
Labels: pkg/web, diff/S

#139 アイコン変更のUI作成とアイコン変更処理の実装
  pkg/api/api/browser/projects/_projectId@string/controller.ts
  pkg/api/api/browser/projects/_projectId@string/dirs/_dirId@string/controller.ts
  pkg/api/api/browser/projects/_projectId@string/dirs/controller.ts
  pkg/api/api/browser/projects/_projectId@string/index.ts
  pkg/api/api/browser/projects/_projectId@string/works/_workId@string/revisions/controller.ts
  pkg/api/api/browser/projects/_projectId@string/works/controller.ts
  pkg/api/api/browser/projects/controller.ts
  pkg/api/prisma/migrations/20211206163005_/migration.sql
  pkg/api/prisma/schema.prisma
  pkg/api/src/service/browser.ts
  pkg/api/src/service/browser/dirs.ts
  pkg/api/src/service/browser/projects.ts
  pkg/api/src/service/browser/revisions.ts
  pkg/api/src/service/browser/works.ts
  pkg/api/src/service/s3.ts
  pkg/api/src/utils/s3.ts
  pkg/def/constants/index.ts
  pkg/lib/types/api.d.ts
  pkg/lib/types/branded.d.ts
  pkg/web/src/components/atoms/ConfigIcon.tsx
  pkg/web/src/components/atoms/ImageIcon.tsx
  pkg/web/src/pages/browser/[[...paths]]/components/Explorer/index.tsx
  pkg/web/src/pages/browser/[[...paths]]/components/IconUpload.tsx
  pkg/web/src/pages/browser/[[...paths]]/components/ProjectBar.tsx
  pkg/web/src/pages/browser/[[...paths]]/components/ProjectConfig.tsx
  pkg/web/src/pages/browser/[[...paths]]/components/ProjectNameInput.tsx
  pkg/web/src/pages/browser/[[...paths]]/components/ProjectNameUpdate.tsx
Labels: prisma, diff/L, pkg/web, pkg/def, pkg/api, feat, pkg/lib, prisma/schema, prisma/migrations

#163 chore: update stylelint
  .vscode/extensions.json
  package.json
  pkg/web/src/components/atoms/AddButton.tsx
  pkg/web/src/components/atoms/Chevron.tsx
  pkg/web/src/components/atoms/DataIcon.tsx
  pkg/web/src/components/atoms/ImageIcon.tsx
  pkg/web/src/components/atoms/Loading.tsx
  pkg/web/src/components/atoms/PencilIcon.tsx
  pkg/web/src/components/atoms/PlusIcon.tsx
  pkg/web/src/components/atoms/RenameIcon.tsx
  pkg/web/src/pages/_app.page.tsx
  pkg/web/src/pages/browser/[[...paths]]/components/AddArea.tsx
  pkg/web/src/pages/browser/[[...paths]]/components/Explorer/index.tsx
  pkg/web/src/pages/browser/[[...paths]]/components/MainColumn.tsx
  pkg/web/src/pages/browser/[[...paths]]/components/ProjectConfig.tsx
  pkg/web/src/pages/browser/[[...paths]]/components/StreamBar/ReplyInputForm.tsx
  pkg/web/src/pages/browser/[[...paths]]/components/StreamBar/index.tsx
  pkg/web/stylelint.config.js
  pnpm-lock.yaml
Labels: diff/L, update/lockfile, pkg/web, update/vscode

#164 タブ削除
  pkg/web/src/components/atoms/Cross.tsx
  pkg/web/src/pages/browser/[[...paths]]/components/TabBar.tsx
Labels: diff/M, pkg/web, feat
