Repository violet-ts/violet, pull requests merged in 2021-11, with the labels that each got.

#67 ファイルツリー表示部分で横にスクロールできてしまう箇所修正
  pages/browser/[...pathes]/components/AddArea.tsx
  pages/browser/[...pathes]/components/Explorer/CellName.tsx
Labels: SIZE/L

#79 chore: lambda で使う yum パッケージのバージョンを固定
  docker/lambda/conv2img/Dockerfile
Labels: security

#80 オフィスファイルとPDFの変換バグ修正
  pkg/api/src/service/s3.ts
  pkg/api/src/utils/constants/index.ts
  pkg/lambda/conv2img/src/index.ts
Labels: bug

#77 続けてフォルダが追加できなかった処理を修正
  pkg/web/src/pages/browser/[...pathes]/components/Explorer/CellName.tsx
Labels: bug, pkg/web, diff/S

#81 fix: source-map-support は node --require 側で呼び出す + no-restricted-imports ルール追加
  .eslintrc.js
  docker/api/Dockerfile
  package.json
  pkg/api/api/browser/projects/_projectId/controller.ts
  pkg/api/api/browser/projects/_projectId/desks/_deskId/controller.ts
  pkg/api/api/browser/projects/_projectId/desks/_deskId/index.ts
  pkg/api/api/browser/projects/_projectId/desks/controller.ts
  pkg/api/api/browser/projects/_projectId/desks/index.ts
  pkg/api/api/browser/projects/_projectId/index.ts
  pkg/api/api/browser/projects/index.ts
  pkg/api/api/browser/works/_workId@string/revisions/_revisionId@string/controller.ts
  pkg/api/api/browser/works/_workId@string/revisions/_revisionId@string/index.ts
  pkg/api/api/browser/works/_workId@string/revisions/_revisionId@string/messages/_messageId@string/replies/controller.ts
  pkg/api/api/browser/works/_workId@string/revisions/_revisionId@string/messages/_messageId@string/replies/index.ts
  pkg/api/api/browser/works/_workId@string/revisions/_revisionId@string/messages/controller.ts
  pkg/api/api/browser/works/_workId@string/revisions/_revisionId@string/messages/index.ts
  pkg/api/api/browser/works/_workId@string/revisions/controller.ts
  pkg/api/api/browser/works/_workId@string/revisions/index.ts
  pkg/api/package.json
  pkg/api/src/entries/index.ts
  pkg/api/src/service/browser.ts
  pkg/api/src/service/s3.ts
  pkg/api/src/service/streamBar.ts
  pkg/api/src/utils/s3.ts
  pkg/api/types/api.d.ts
  pkg/api/types/branded.d.ts
  pkg/api/types/client.d.ts
  pkg/api/types/index.d.ts
  pkg/api/types/prisma-client.d.ts
  pkg/def/constants/index.ts
  pkg/lambda/conv2img/src/index.ts
  pkg/web/src/contexts/Browser.tsx
  pkg/web/src/pages/browser/[...pathes]/components/EmptyWork/index.tsx
  pkg/web/src/pages/browser/[...pathes]/components/Explorer/DirectoryCell.tsx
  pkg/web/src/pages/browser/[...pathes]/components/Explorer/WorkCell.tsx
  pkg/web/src/pages/browser/[...pathes]/components/Explorer/index.tsx
  pkg/web/src/pages/browser/[...pathes]/components/ProjectBar.tsx
  pkg/web/src/pages/browser/[...pathes]/components/Revision/AddButton.tsx
  pkg/web/src/pages/browser/[...pathes]/components/Revision/index.tsx
  pkg/web/src/pages/browser/[...pathes]/components/StreamBar/MessageCell.tsx
  pkg/web/src/pages/browser/[...pathes]/components/StreamBar/ReplyMessageCell.tsx
  pkg/web/src/pages/browser/[...pathes]/components/StreamBar/index.tsx
  pkg/web/src/pages/browser/[...pathes]/components/TabBar.tsx
  pkg/web/src/pages/browser/[...pathes]/useFetch.ts
  pkg/web/src/pages/browser/[...pathes]/usePage.ts
  pkg/web/src/pages/index.page.tsx
  pkg/web/src/utils/index.ts
  pnpm-lock.yaml
Labels: bug, docker/api, update/rule, docker/lambda/conv2img, update/lockfile, diff/M, pkg/web, pkg/def, pkg/api, pkg/lambda/conv2img

#85 chore(rule): commitlint + husky + config-conventional 導入
  .github/workflows/nodejs.yml
  .husky/commit-msg
  commitlint.config.js
  package.json
  pnpm-lock.yaml
Labels: rule, diff/L, update/lockfile, update/ci

#92 プラスボタン、プロジェクト名入力フォーム表示の実装
  pkg/web/src/components/atoms/PlusIcon.tsx
  pkg/web/src/components/molecules/Modal.tsx
  pkg/web/src/pages/browser/[...pathes]/components/EmptyWork/index.tsx
  pkg/web/src/pages/browser/[...pathes]/components/ProjectBar.tsx
  pkg/web/src/pages/browser/[...pathes]/components/ProjectNameInput.tsx
  pkg/web/src/pages/browser/[...pathes]/components/Revision/index.tsx
Labels: bug, diff/M, pkg/web

#89 chore: transpile seed.ts to JS and use this for dev
  pkg/api/package.json
  pkg/api/prisma/scripts/index.ts
  pkg/api/prisma/scripts/prod/0000-seed.ts
  pkg/api/prisma/scripts/seed/dev-data/basic.ts
  pkg/api/prisma/scripts/seed/dev-data/stream.ts
  pkg/api/prisma/scripts/seed/dev.ts
  pkg/api/prisma/scripts/seed/specials-data/basic.ts
  pkg/api/prisma/scripts/seed/specials-data/stream.ts
  pkg/api/prisma/scripts/seed/specials.ts
  pkg/scripts/build-file.ts
  pkg/scripts/build-files.ts
  pkg/web/package.json
  pnpm-lock.yaml
Labels: bug, prisma, diff/L, update/lockfile, pkg/web, pkg/api, add/TODO, pkg/scripts, refactor

#90 chore: eslint 修正と .prisma/client の禁止
  .eslintrc.js
Labels: rule, diff/XS

#93 プロジェクト追加API実装
  pkg/api/api/browser/projects/controller.ts
  pkg/api/api/browser/projects/index.ts
  pkg/api/src/service/browser.ts
  pkg/web/src/pages/browser/[...pathes]/components/ProjectBar.tsx
  pkg/web/src/pages/browser/[...pathes]/components/ProjectNameInput.tsx
Labels: diff/M, pkg/web, pkg/api, feat

#97 hadolint セットアップとLambda の開発時の改善
  .github/workflows/hadolint.yml
  .gitignore
  CONTRIBUTING-ja.md
  README.md
  docker-compose.yml
  docker/dev/lambda/conv2img/Dockerfile
  docker/dev/minio/data/static/sample.txt
  docker/dev/minio/policies/buckets/static/policy.json
  docker/dev/mysql/my.cnf
  docker/prod/api/Dockerfile
  docker/prod/lambda/apiexec/Dockerfile
  docker/prod/lambda/conv2img/Dockerfile
  docker/prod/web/Dockerfile
  package.json
  pkg/api/package.json
  pkg/lambda/conv2img/package.json
  pkg/lambda/conv2img/src/index.ts
  pkg/scripts/hadolint.ts
  pkg/scripts/package.json
  pnpm-lock.yaml
Labels: bug, documentation, rule, diff/L, update/lockfile, pkg/api, pkg/lambda/conv2img, update/ci, pkg/scripts, refactor, docker/prod/lambda/conv2img, docker/dev/lambda/conv2img, docker/prod/lambda/apiexec, docker/prod/api, docker/prod/web, update/gitignore

#86 Work-Reivisionを1-N表示UI
  pkg/api/src/service/browser.ts
  pkg/api/types/api.d.ts
  pkg/api/types/client.d.ts
  pkg/web/src/components/atoms/PencilIcon.tsx
  pkg/web/src/pages/browser/[...pathes]/components/EmptyWork/index.tsx
  pkg/web/src/pages/browser/[...pathes]/components/MainColumn.tsx
  pkg/web/src/pages/browser/[...pathes]/components/Revision/index.tsx
  pkg/web/src/pages/browser/[...pathes]/components/StreamBar/MessageCell.tsx
  pkg/web/src/pages/browser/[...pathes]/components/StreamBar/MessageIcon.tsx
  pkg/web/src/pages/browser/[...pathes]/components/StreamBar/ReplyInputForm.tsx
  pkg/web/src/pages/browser/[...pathes]/components/StreamBar/ReplyMessageCell.tsx
  pkg/web/src/pages/browser/[...pathes]/components/StreamBar/index.tsx
  pkg/web/src/pages/browser/[...pathes]/components/TabBar.tsx
  pkg/web/src/pages/browser/[...pathes]/index.page.tsx
  pkg/web/src/pages/browser/[...pathes]/useFetch.ts
  pkg/web/src/pages/browser/[...pathes]/usePage.ts
Labels: bug, diff/L, pkg/web, pkg/api, feat

#105 Lambda convert to image のデプロイのための作業、ログの強化
  .env.example
  docker-compose.yml
  pkg/api/package.json
  pkg/api/src/entries/index.ts
  pkg/api/src/service/s3.ts
  pkg/api/src/utils/s3.ts
  pkg/def/constants/s3.ts
  pkg/def/envValues.ts
  pkg/lambda/conv2img/package.json
  pkg/lambda/conv2img/src/convert-object.ts
  pkg/lambda/conv2img/src/credentials.ts
  pkg/lambda/conv2img/src/index.ts
  pkg/lambda/conv2img/src/s3.ts
  pkg/lib/lambda/s3.ts
  pkg/lib/logger/index.ts
  pkg/lib/package.json
  pkg/lib/s3.ts
  pnpm-lock.yaml
Labels: aws, update/lockfile, pkg/def, pkg/api, pkg/lambda/conv2img, feat, add/TODO, refactor, pkg/lib, diff/XL

#108 chore(rule): enable react/self-closing-comp
  .eslintrc.js
Labels: rule, diff/XS

#107 chore(eslint): enhanced restricted imports
  .eslintrc.js
  pkg/api/api/browser/projects/_projectId/controller.ts
  pkg/api/api/browser/projects/_projectId/desks/_deskId/controller.ts
  pkg/api/api/browser/projects/_projectId/desks/_deskId/index.ts
  pkg/api/api/browser/projects/_projectId/desks/controller.ts
  pkg/api/api/browser/projects/_projectId/desks/index.ts
  pkg/api/api/browser/projects/_projectId/index.ts
  pkg/api/api/browser/projects/index.ts
  pkg/api/api/browser/works/_workId@string/revisions/_revisionId@string/controller.ts
  pkg/api/api/browser/works/_workId@string/revisions/_revisionId@string/index.ts
  pkg/api/api/browser/works/_workId@string/revisions/_revisionId@string/messages/_messageId@string/replies/controller.ts
  pkg/api/api/browser/works/_workId@string/revisions/_revisionId@string/messages/_messageId@string/replies/index.ts
  pkg/api/api/browser/works/_workId@string/revisions/_revisionId@string/messages/controller.ts
  pkg/api/api/browser/works/_workId@string/revisions/_revisionId@string/messages/index.ts
  pkg/api/api/browser/works/_workId@string/revisions/controller.ts
  pkg/api/api/browser/works/_workId@string/revisions/index.ts
  pkg/api/src/service/browser.ts
  pkg/api/src/service/s3.ts
  pkg/api/src/service/streamBar.ts
  pkg/api/src/types/index.d.ts
  pkg/api/src/utils/s3.ts
  pkg/api/types/index.d.ts
  pkg/api/types/prisma-client.d.ts
  pkg/lib/types/api.d.ts
  pkg/lib/types/branded.d.ts
  pkg/web/package.json
  pkg/web/src/contexts/Browser.tsx
  pkg/web/src/pages/browser/[...pathes]/components/EmptyWork/index.tsx
  pkg/web/src/pages/browser/[...pathes]/components/Explorer/DirectoryCell.tsx
  pkg/web/src/pages/browser/[...pathes]/components/Explorer/WorkCell.tsx
  pkg/web/src/pages/browser/[...pathes]/components/Explorer/index.tsx
  pkg/web/src/pages/browser/[...pathes]/components/MainColumn.tsx
  pkg/web/src/pages/browser/[...pathes]/components/ProjectBar.tsx
  pkg/web/src/pages/browser/[...pathes]/components/Revision/index.tsx
  pkg/web/src/pages/browser/[...pathes]/components/StreamBar/MessageCell.tsx
  pkg/web/src/pages/browser/[...pathes]/components/StreamBar/ReplyInputForm.tsx
  pkg/web/src/pages/browser/[...pathes]/components/StreamBar/ReplyMessageCell.tsx
  pkg/web/src/pages/browser/[...pathes]/components/StreamBar/index.tsx
  pkg/web/src/pages/browser/[...pathes]/components/TabBar.tsx
  pkg/web/src/pages/browser/[...pathes]/index.page.tsx
  pkg/web/src/pages/browser/[...pathes]/useFetch.ts
  pkg/web/src/pages/browser/[...pathes]/usePage.ts
  pkg/web/src/pages/index.page.tsx
  pkg/web/src/types/browser.ts
  pkg/web/src/utils/index.ts
  pnpm-lock.yaml
Labels: rule, prisma, update/lockfile, diff/M, pkg/web, pkg/api, pkg/lib

#102 プロジェクト名変更アイコンの追加、変更処理実装
  pkg/api/api/browser/projects/_projectId/controller.ts
  pkg/api/api/browser/projects/_projectId/index.ts
  pkg/api/src/service/browser.ts
  pkg/web/src/components/atoms/RenameIcon.tsx
  pkg/web/src/pages/browser/[...pathes]/components/Explorer/index.tsx
  pkg/web/src/pages/browser/[...pathes]/components/ProjectNameUpdate.tsx
Labels: diff/M, pkg/web, pkg/api, feat

#120 chore: fix dev npm script
  pkg/api/package.json
Labels: diff/XS, pkg/api

#121 pkg/api のリファクタリング
  README.md
  pkg/api/api/browser/projects/_projectId/controller.ts
  pkg/api/api/browser/projects/_projectId/desks/_deskId/controller.ts
  pkg/api/api/browser/projects/_projectId/desks/controller.ts
  pkg/api/api/browser/projects/controller.ts
  pkg/api/api/browser/works/_workId@string/revisions/_revisionId@string/_messageId@string/controller.ts
  pkg/api/api/browser/works/_workId@string/revisions/_revisionId@string/_messageId@string/index.ts
  pkg/api/api/browser/works/_workId@string/revisions/_revisionId@string/_messageId@string/replies/controller.ts
  pkg/api/api/browser/works/_workId@string/revisions/_revisionId@string/_messageId@string/replies/index.ts
  pkg/api/api/browser/works/_workId@string/revisions/_revisionId@string/controller.ts
  pkg/api/api/browser/works/_workId@string/revisions/_revisionId@string/messages/_messageId@string/replies/controller.ts
  pkg/api/api/browser/works/_workId@string/revisions/_revisionId@string/messages/controller.ts
  pkg/api/api/browser/works/_workId@string/revisions/controller.ts
  pkg/api/package.json
  pkg/api/prisma/schema.prisma
  pkg/api/src/service/browser.ts
  pkg/api/src/service/streamBar.ts
  pkg/api/src/utils/generateId.ts
  pkg/lib/generateId.ts
  pkg/lib/package.json
  pkg/lib/types/api.d.ts
  pkg/web/src/pages/browser/[...pathes]/components/StreamBar/MessageCell.tsx
  pkg/web/src/types/browser.ts
  pnpm-lock.yaml
Labels: prisma, diff/L, update/lockfile, pkg/web, pkg/api, refactor, pkg/lib, prisma/schema

#122 React Strict モード有効化
  pkg/web/next.config.js
Labels: diff/XS, pkg/web

#123 ci(rule): check prisma schema formatted
  .github/workflows/nodejs.yml
  package.json
  pkg/api/package.json
  pkg/api/prisma/schema.prisma
Labels: rule, prisma, diff/M, pkg/api, update/ci, prisma/schema

#126 chore: update vscode workspace settings
  .vscode/settings.json
Labels: diff/XS, update/vscode

#127 chore: change apiWholeData to apiWholeDict
  pkg/api/src/service/browser.ts
  pkg/lib/types/api.d.ts
  pkg/lib/types/branded.d.ts
  pkg/web/src/contexts/Browser.tsx
  pkg/web/src/pages/browser/[...pathes]/components/EmptyWork/index.tsx
  pkg/web/src/pages/browser/[...pathes]/components/Explorer/CellName.tsx
  pkg/web/src/pages/browser/[...pathes]/components/ProjectNameInput.tsx
  pkg/web/src/pages/browser/[...pathes]/components/ProjectNameUpdate.tsx
  pkg/web/src/pages/browser/[...pathes]/components/Revision/index.tsx
  pkg/web/src/pages/browser/[...pathes]/components/StreamBar/index.tsx
  pkg/web/src/pages/browser/[...pathes]/index.page.tsx
  pkg/web/src/pages/browser/[...pathes]/useFetch.ts
  pkg/web/src/pages/browser/[...pathes]/usePage.ts
  pkg/web/src/types/browser.ts
Labels: diff/M, pkg/web, pkg/api, pkg/lib

#124 feat:ローカルのminioから変換後のイメージを取得・ワークスペースに画像を表示
  docker-compose.yml
  pkg/api/api/browser/works/_workId@string/revisions/controller.ts
  pkg/api/api/browser/works/_workId@string/revisions/index.ts
  pkg/api/src/service/browser.ts
  pkg/api/src/service/s3.ts
  pkg/api/src/utils/s3.ts
  pkg/lib/types/api.d.ts
  pkg/lib/types/branded.d.ts
  pkg/web/src/pages/browser/[...pathes]/components/EmptyWork/index.tsx
  pkg/web/src/pages/browser/[...pathes]/components/MainColumn.tsx
  pkg/web/src/pages/browser/[...pathes]/components/Revision/index.tsx
  pkg/web/src/pages/browser/[...pathes]/components/StreamBar/index.tsx
  pkg/web/src/pages/browser/[...pathes]/index.page.tsx
  pkg/web/src/pages/browser/[...pathes]/useFetch.ts
  pkg/web/src/pages/browser/[...pathes]/usePage.ts
  pkg/web/src/types/browser.ts
  pkg/web/src/utils/constants/index.ts
Labels: diff/M, pkg/web, pkg/api, feat, pkg/lib

#128 chore: rename api dirs
  pkg/api/api/browser/projects/_projectId@string/controller.ts
  pkg/api/api/browser/projects/_projectId@string/desks/_deskId@string/controller.ts
  pkg/api/api/browser/projects/_projectId@string/desks/_deskId@string/index.ts
  pkg/api/api/browser/projects/_projectId@string/desks/controller.ts
  pkg/api/api/browser/projects/_projectId@string/desks/index.ts
  pkg/api/api/browser/projects/_projectId@string/index.ts
  pkg/api/api/browser/projects/_projectId@string/works/_workId@string/controller.ts
  pkg/api/api/browser/projects/_projectId@string/works/_workId@string/index.ts
  pkg/api/api/browser/projects/_projectId@string/works/_workId@string/revisions/_revisionId@string/controller.ts
  pkg/api/api/browser/projects/_projectId@string/works/_workId@string/revisions/_revisionId@string/index.ts
  pkg/api/api/browser/projects/_projectId@string/works/_workId@string/revisions/_revisionId@string/messages/_messageId@string/controller.ts
  pkg/api/api/browser/projects/_projectId@string/works/_workId@string/revisions/_revisionId@string/messages/_messageId@string/index.ts
  pkg/api/api/browser/projects/_projectId@string/works/_workId@string/revisions/_revisionId@string/messages/_messageId@string/replies/controller.ts
  pkg/api/api/browser/projects/_projectId@string/works/_workId@string/revisions/_revisionId@string/messages/_messageId@string/replies/index.ts
  pkg/api/api/browser/projects/_projectId@string/works/_workId@string/revisions/_revisionId@string/messages/controller.ts
  pkg/api/api/browser/projects/_projectId@string/works/_workId@string/revisions/_revisionId@string/messages/index.ts
  pkg/api/api/browser/projects/_projectId@string/works/_workId@string/revisions/controller.ts
  pkg/api/api/browser/projects/_projectId@string/works/_workId@string/revisions/index.ts
  pkg/api/api/browser/projects/_projectId@string/works/_workId@string/revisions/signedUrl/controller.ts
  pkg/api/api/browser/projects/_projectId@string/works/_workId@string/revisions/signedUrl/index.ts
  pkg/api/api/browser/projects/_projectId@string/works/controller.ts
  pkg/api/api/browser/projects/_projectId@string/works/index.ts
  pkg/api/api/browser/works/_workId@string/revisions/signedUrl/controller.ts
  pkg/api/src/service/browser.ts
  pkg/api/src/service/s3.ts
  pkg/web/src/pages/browser/[...pathes]/components/EmptyWork/index.tsx
  pkg/web/src/pages/browser/[...pathes]/components/Revision/index.tsx
  pkg/web/src/pages/browser/[...pathes]/components/StreamBar/index.tsx
  pkg/web/src/pages/browser/[...pathes]/index.page.tsx
  pkg/web/src/pages/browser/[...pathes]/useFetch.ts
Labels: diff/M, pkg/web, pkg/api

#129 chore(rule): enable some eslint rules
  .eslintrc.js
  package.json
  pkg/api/.eslintrc.js
  pkg/api/api/hooks.ts
  pkg/api/prisma/scripts/index.ts
  pkg/api/prisma/scripts/prod/0000-seed.ts
  pkg/api/prisma/scripts/seed/dev.ts
  pkg/api/prisma/scripts/seed/specials.ts
  pkg/api/prisma/scripts/types/index.d.ts
  pkg/api/src/entries/index.ts
  pkg/api/src/entries/index/main.ts
  pkg/api/src/entries/lambda.ts
  pkg/api/src/service/firebase-admin/credentials.ts
  pkg/api/src/service/firebase-admin/from-container-credentials.ts
  pkg/api/test/server.test.ts
  pkg/def/.eslintrc.js
  pkg/lambda/conv2img/.eslintrc.js
  pkg/lambda/conv2img/src/convert-object.ts
  pkg/lambda/conv2img/src/index.ts
  pkg/lambda/conv2img/tsconfig.json
  pkg/lib/.eslintrc.js
  pkg/lib/logger/fastify.ts
  pkg/scripts/.eslintrc.js
  pkg/scripts/build-file.ts
  pkg/scripts/build-files.ts
  pkg/web/.eslintrc.js
  pkg/web/src/components/organisms/SignInModal.tsx
  pkg/web/src/contexts/Api.tsx
  pkg/web/src/contexts/Auth.tsx
  pkg/web/src/pages/_app.page.tsx
  pkg/web/src/pages/browser/[...pathes]/components/EmptyWork/index.tsx
  pkg/web/src/pages/browser/[...pathes]/components/Explorer/CellName.tsx
  pkg/web/src/pages/browser/[...pathes]/components/Explorer/index.tsx
  pkg/web/src/pages/browser/[...pathes]/components/ProjectNameInput.tsx
  pkg/web/src/pages/browser/[...pathes]/components/Revision/index.tsx
  pkg/web/src/pages/browser/[...pathes]/components/StreamBar/MessageCell.tsx
  pkg/web/src/pages/browser/[...pathes]/components/StreamBar/index.tsx
  pkg/web/src/pages/browser/[...pathes]/useFetch.ts
  pkg/web/src/pages/browser/[...pathes]/usePage.ts
  pkg/web/src/pages/dev/auth/private-comment/index.page.tsx
  pkg/web/src/pages/dev/auth/public-comment/index.page.tsx
  pkg/web/src/pages/index.page.tsx
  pkg/web/src/utils/firebase/index.ts
  pkg/web/test/pages/index.test.tsx
  pkg/web/tsconfig.json
  pnpm-lock.yaml
Labels: rule, prisma, test, diff/L, update/lockfile, pkg/web, pkg/def, pkg/api, pkg/lambda/conv2img, pkg/scripts, pkg/lib

#131 フロントからInfo.jsonを取得
  pkg/api/prisma/scripts/index.ts
  pkg/api/src/service/browser.ts
  pkg/lambda/conv2img/src/convert-object.ts
  pkg/lib/constants/file.ts
  pkg/lib/types/files.d.ts
  pkg/web/src/pages/browser/[...pathes]/components/Revision/index.tsx
  pkg/web/src/pages/browser/[...pathes]/index.page.tsx
  pkg/web/src/pages/browser/[...pathes]/useFetch.ts
Labels: prisma, diff/M, pkg/web, pkg/api, pkg/lambda/conv2img, feat, pkg/lib

#135 feat: useSWR でinfo.jsonを取得、変換中のコンポーネントを追加
  pkg/web/src/components/atoms/DataIcon.tsx
  pkg/web/src/pages/browser/[[...paths]]/components/Revision/index.tsx
Labels: diff/M, pkg/web, feat
