Repository violet-ts/violet, pull requests merged in 2022-01, with the labels that each got.

#166 タブ並べ替え
  package.json
  pkg/web/src/pages/browser/[[...paths]]/components/Explorer/CellName.tsx
  pkg/web/src/pages/browser/[[...paths]]/components/Styles/ActiveStyle.ts
  pkg/web/src/pages/browser/[[...paths]]/components/Styles/MoveStyle.ts
  pkg/web/src/pages/browser/[[...paths]]/components/Tab/Dragable.tsx
  pkg/web/src/pages/browser/[[...paths]]/components/Tab/TabBar.tsx
  pkg/web/src/pages/browser/[[...paths]]/components/TabBar.tsx
  pkg/web/src/pages/browser/[[...paths]]/index.page.tsx
  pkg/web/src/types/dragTab.ts
  pnpm-lock.yaml
Labels: diff/L, update/lockfile, pkg/web, feat

#170 test(conv2img): check JSON and run with CLI and in CI
  .github/workflows/nodejs.yml
  package.json
  pkg/api/api/dev/test/works/copy-and-invoke/controller.ts
  pkg/api/api/dev/test/works/copy-and-invoke/index.ts
  pkg/lambda/conv2img/src/convertObject.ts
  pkg/lambda/conv2img/src/s3.ts
  pkg/lib/package.json
  pkg/lib/s3/index.ts
  pkg/lib/s3/public-client.ts
  pkg/lib/s3/public-server.ts
  pkg/lib/s3/tester/check.ts
  pkg/lib/s3/tester/construct-input.ts
  pkg/lib/s3/tester/index.ts
  pkg/lib/s3/tester/types.d.ts
  pkg/scripts/package.json
  pkg/scripts/test-runners/test-conv2img.ts
  pkg/scripts/tsconfig.esm.json
  pkg/web/src/pages/dev/s3/tester/CopyAndInvokeRunningTestStatus.tsx
  pkg/web/src/pages/dev/s3/tester/Suite.tsx
  pkg/web/src/pages/dev/s3/tester/index.page.tsx
  pnpm-lock.yaml
Labels: rule, test, diff/L, update/lockfile, pkg/web, pkg/api, pkg/lambda/conv2img, update/ci, pkg/scripts, pkg/lib

#172 fix: CSRF Tokenの取り回しに関するバグを修正
  pkg/web/src/contexts/Api.tsx
Labels: bug, diff/M, pkg/web

#169 プロジェクト名とプロジェクトアイコンをアップデート時のメモリリーク対応
  pkg/web/src/pages/browser/[[...paths]]/components/ProjectConfig.tsx
  pkg/web/src/pages/browser/[[...paths]]/components/ProjectNameUpdate.tsx
  pkg/web/src/pages/browser/[[...paths]]/usePage.ts
  pkg/web/src/utils/index.ts
Labels: diff/M, pkg/web

#171 ファイル名、フォルダ名ラベルの縦幅を修正
  pkg/web/src/pages/browser/[[...paths]]/components/Explorer/CellName.tsx
  pkg/web/src/pages/browser/[[...paths]]/components/ExtIcon.tsx
  pkg/web/src/pages/browser/[[...paths]]/components/Tab/Dragable.tsx
  pkg/web/src/pages/browser/[[...paths]]/components/Tab/TabBar.tsx
Labels: diff/XS, pkg/web

#181 ファイル作成などのアクションをしようとするとファイルツリーも一緒に動作しまう処理の修正
  pkg/web/src/pages/browser/[[...paths]]/components/Explorer/CellName.tsx
Labels: diff/XS, pkg/web
